* {
    margin: 2px;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    align-items: center;
    background-color: rgb(18, 18, 58);
    color: rgb(237, 241, 241);
}

html {
    scroll-behavior: smooth;
}


.first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(21, 145, 202);
    height: 60px;
    width: 100%;
}



.first div:hover {
    cursor: pointer;
    color: rgb(21, 167, 204);
}

body>div.first>div.second>div>a:hover {
    color: rgb(21, 167, 204);
}

.second {
    display: flex;
    justify-content: space-between;

}

body>div.first>div.second>div>a {
    text-decoration: none;

}

.third h1 {
    font-size: 45px;
}

.third p {
    font-size: 30px;
}

.thoughts h4 {
    font-size: 30px;
    color: rgb(0, 195, 255);
}

.thoughts h5 {
    font-size: 40px;
}



.experience h4 {
    font-size: 30px;
    color: rgb(32, 183, 194)
}

.img-slider {
    font-size: 30px;
}

.Education h4 {
    font-size: 25px;
    color: rgb(13, 111, 150)
}

.Education h5 {
    font-size: 30px;
}

.Education>.school {
    display: flex;
}

.Education>.puc {
    display: flex;
}

.Education>.Deg {
    display: flex;
}

.footer h5 {
    font-size: 30px;
    color: rgb(16, 134, 180)
}

.footer ul {
    font-size: 20px;

}



.footer ul li:hover {
    cursor: pointer;
    color: rgb(22, 226, 192);
}